

.card{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
    margin: 1rem 0rem;
    border-radius: 12px;
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
    width: 45%;
    text-align: center;
}


