.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  
}
.text-area{
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    width: 45%;
    text-align: center;
}